/* ========================= */
/* FULLSCREEN ONLY AUTOHIDE */
/* ========================= */

:root[inFullscreen="true"] {
  --sidebar-collapsed: 1px;
  --sidebar-hover-normal: 50px;
  --sidebar-hover-expanded: 250px;
}

/* Sidebar collapsed */
:root[inFullscreen="true"] #sidebar-main {
  width: var(--sidebar-collapsed) !important;
  margin-right: 0 !important;
  background: transparent !important;
  z-index: 4 !important;

  transition: width 0.2s, margin-right 0.2s, background 0.2s !important;
}

/* Hover expand (normal) */
:root[inFullscreen="true"] #sidebar-main:hover {
  width: var(--sidebar-hover-normal) !important;
  margin-right: calc(
    var(--sidebar-collapsed) - var(--sidebar-hover-normal)
  ) !important;
  background: var(--toolbar-bgcolor) !important;
}

/* Hover expand (expanded tabs) */
:root[inFullscreen="true"]:has(#tabbrowser-tabs[expanded]) #sidebar-main:hover {
  width: var(--sidebar-hover-expanded) !important;
  margin-right: calc(
    var(--sidebar-collapsed) - var(--sidebar-hover-expanded)
  ) !important;
}

/* Tab text fade */
:root[inFullscreen="true"] .tabbrowser-tab .tab-text {
  opacity: 0;
}

:root[inFullscreen="true"] #sidebar-main:hover .tabbrowser-tab .tab-text {
  opacity: 1;
}
